{% extends 'unilmsapp/teachers_base.html' %}
{% load static %}

{% block title %}Create Announcement{% endblock %}

{% block content %}
<div class="container py-4">

    <div class="card shadow-sm rounded-4 p-4">

        <h3 class="fw-bold mb-4">
            Create Announcement
        </h3>

        <form method="POST">

            {% csrf_token %}

            <!-- TITLE -->
            <div class="mb-3">
                <label class="form-label fw-semibold">
                    Title
                </label>

                <input type="text" name="title" class="form-control" placeholder="Enter announcement title">
            </div>

            <!-- SUBJECT DROPDOWN -->
            <div class="mb-3">

                <label class="form-label fw-semibold">
                    Subject
                </label>

                <select name="subject" class="form-select">

                    {% for s in subjects %}

                    <option value="{{ s.sub_code }}">
                        {{ s.sub_name }}
                    </option>

                    {% endfor %}

                </select>

            </div>

            <!-- CONTENT -->
            <div class="mb-4">

                <label class="form-label fw-semibold">
                    Message
                </label>

                <textarea name="content" class="form-control" rows="4" placeholder="Write your announcement"></textarea>

            </div>

            <!-- BUTTON -->
            <button type="submit" class="btn btn-primary rounded-pill px-4">

                Post Announcement

            </button>

        </form>

    </div>

</div>
{%endblock%}